*{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

nav{
    display: flex;
    background-color: black;
    color: #FCFAEE;
    padding: 10px;
}

button{
    background-color: black;
    color: #FCFAEE;
    border: solid;
    border-color: #FCFAEE;
    box-shadow: 5px 5px #FFFE00;
    height: 39px;
}

.sliderTitulo{
    background-color: #FFFE00; 
    padding: 10px; 
    padding-left: 20px;
    text-shadow: 3px 3px #00B0D4;
}

.sliderTituloAlt{
    background-color: #00B0D4; 
    padding: 10px; 
    padding-left: 20px;
    text-shadow: 3px 3px #FFFE00;
}

.border-shadow-btn{
    border: solid;
    border-color: #FCFAEE;
    box-shadow: 5px 5px #FFFE00;
}

.border-shadow{
    border: solid;
    border-color: black;
    box-shadow: 5px 5px black;
}

.pelicula{
    transition: all 0.3s ease-out;
    width:215px;
    height:290px;
    
}

.pelicula:hover{
    transition: all 0.3s ease-out;
    width:225px;
    height:300px;
    
}

a:link{
    color: #FCFAEE
} 

a:visited{
    color:#00B0D4
}




